doctype html
html(lang="es", ng-app="EveryPublished")
    head
        title Every Publised
    body
        h1 Every Publised
        section(ng-view)
        script(type='text/javascript', src="/dist/js/bundle.js")
