doctype html
html(lang="es", ng-app="EveryPublished")
    head
        title Every Publised
    body
        h1 Every Publised
        section(ui-view)
        script(type='text/javascript', src="/app/vendor/angular.js")
        script(type='text/javascript', src="/app/vendor/angular-resource.js")
        script(type='text/javascript', src="/app/vendor/angular-ui-router.js")
        script(type='text/javascript', src="/app/vendor/satellizer.js")

        script(type='text/javascript', src="/app/scripts/app.js")
        script(type='text/javascript', src="/app/scripts/controllers/home.js")
        script(type='text/javascript', src="/app/scripts/controllers/auth.js")
        script(type='text/javascript', src="/app/scripts/services/account.js")
