@import "normalize.styl"
@import "toolbar.styl"
@import "fields.styl"
@import "nib"

.about-author
  margin 0
  padding 0
  position absolute
  top 0
  left 0
  bottom 0
  right 0

.about-header
  padding 1px 0 10px 0
  background rgba(#B6B6B6, .3)
  line-height 1.3
  font-size 20px
  font-size 2rem
  margin-bottom 0px
  border-bottom 2px solid rgba(#B6B6B6, .3)

.about-author-avatar
  img
    border-radius 50%
    margin .5em

.about-author-category
  position absolute
  left 7em
  top 4em
  margin 0
  padding 0

.about-author-name
.about-author-avatar
.about-author-category
  display inline-block
  vertical-aling top

.about-header-title
  text-align center
  color #222222
  position relative
  top -0.5em
  font-size 20px

.author
  margin-top 2em
  width 27em

.alert-material
  position fixed
  right 12px
  bottom 12px
  z-index 1
  display inline-block
  min-height 48px
  padding 13px 24px 12px
  font-family 'Roboto', sans-serif
  color #f1f1f1
  cursor default
  background #323232
  border-radius 2px
  outline none
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)

.card-publish
  width 21.1em
  display inline-block
  vertical-align top
  height 24.5em
  margin 1.5em 0 1em 1em
  position relative
  left 1.3em
  transition-duration .5s
  top 7em
  &:hover
    box-shadow 0 3px 40px rgba(black,0.23),0 3px 40px rgba(black,0.23)

.other-author
  margin-top 2em
  width 27em

.publish
  margin 2em
  width 55em

.publish-foto
  width 100%
  height 11.19em
  transition all 0.3s ease

//ocss
.card
  border-radius 2px
  color rgba(black, 0.84)
  background #FFFFFF
  box-shadow 0 3px 6px rgba(black,0.16),0 3px 6px rgba(black,0.23)

.relative
  position relative

.pointer
  background #ec407a
  background-clip padding-box
  border-radius 50%
  bottom 1.4em
  box-shadow rgba(0, 0, 0, 0.4) 0 2px 5px
  color white
  font-family 'Material Design Iconic Font'
  font-size 2rem
  height 50px
  left 7.5em
  line-height 1
  padding 16px 0
  position absolute
  text-align center
  transition-duration 0.3s
  width 50px
  &:hover
    color white
    text-decoration none
    box-shadow 0 15px 30px rgba(black,0.40)
