@import "normalize.styl"

.author
  margin-top 2em

.alert-material
  position fixed
  right 12px
  bottom 12px
  z-index 1
  display inline-block
  min-height 48px
  padding 13px 24px 12px
  font-family 'Roboto', sans-serif
  color #f1f1f1
  cursor default
  background #323232
  border-radius 2px
  outline none
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)

.otherAuthor
  margin-top 2em

.publish
  margin 2em
  width 55%

//ocss
.card
  border-radius 2px
  color rgba(black, 0.84)
  background #FFFFFF
  box-shadow 0 3px 6px rgba(black,0.16),0 3px 6px rgba(black,0.23)

