<header class="app-bar promote-layer paper-toolbar paper-shadow">
  <div class="app-bar-container paper-toolbar">
    <button class="menu">=</button>
    <h1 class="logo">
      Material toolbar {{ user.name }}
      <a href="#/logout">Salir</a>
      <a href="#/new/upload/1">New</a>
    </h1>
  </div>
</header>
<section>
  <artile ng-repeat="publish in publishes">
    <div class="card card-publish">
      <a ng-href="#/published/{{ publish.id }}" class="foto">
        <img src="{{ publish.photo }}" alt="{{ publish.name }}" class="publish-foto bounceIn">
      </a>
      <div class="about-header">
        <h2 class="about-header-title">
          {{ publish.name }}
        </h2>
      </div>

      <div class="about-author relative">
        <a ng-href="#/published/{{ publish.id }}" class="pointer">
          <span>></span>
        </a>
        <div class="about-author-avatar">
          <img src="{{ publish.user.avatar }}" alt="{{ publish.user.name }}" width="50" height="50" />
        </div>
        <h3 class="about-author-name">{{ publish.user.name }}</h3>
        <h4 class="about-author-category">{{ publish.category }}</h4>
      </div>

    </div>
  </artile>
</section>
