<section>
  <h1>Pon tu publicidad {{ user.name }}</h1>
  <form method="POST" ng-submit="newPublish()" enctype="multipart/form-data">
    <p>name
      <input type="text" placeholder="Nombre" ng-model="name">
    </p>
    <p>price
      <input type="number" placeholder="Precio" ng-model="price">
    </p>
    <p>photo
      <input type="file" file-model="photo">
    </p>
    <p>description
      <textarea placeholder="Description" ng-model="description"></textarea>
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
</section>
