<header class="app-bar promote-layer paper-toolbar paper-shadow">
  <div class="app-bar-container paper-toolbar">
    <button class="menu">=</button>
    <h1 class="logo">Material toolbar</h1>
  </div>
</header><hr>

<section>
  <div class="wrapper">
   <h1>
      <a ui-sref-active="active" ui-sref=".newOne">1</a>
      <a ui-sref-active="active" ui-sref=".newTwo">2</a>
    </h1>

    <div class="form-wrapper form-new">
      <h1>Pon tu publicidad {{ user.name }}</h1>

      <form method="POST" enctype="multipart/form-data" name="form" ng-submit="newPublish()">
        <div ui-view></div>
      </form>

    </div>
  </div>
  <pre>
    {{ formData }}
  </pre>
</section>
