<div class="form-group" ng-class='{
  "has-focus":form.email.hasFocus,
  "has-success":form.email.$valid,
  "has-error":form.email.$invalid && (form.$submitted || form.email.$touched),
  "is-empty":!form.email.$viewValue}'>

  <label for="email">Email</label>
  <input type="email" name="email" ng-model="formData.email" required
    ng-focus='form.email.hasFocus=true', ng-blur='form.email.hasFocus=false'>
    <p ng-show="form.email.$error.required && (form.email.$touched || submitted)"
      class="error-block">
      Email is Required!
    </p>
    <p ng-show="form.email.$error.email && (form.email.$touched || submitted)" class="error-block">
      Email is Invalid!
    </p>
</div>

<div class="form-group" ng-class='{
  "has-focus":form.password.hasFocus,
  "has-success":form.password.$valid,
  "has-error":form.password.$invalid && (form.$submitted || form.password.$touched),
  "is-empty":!form.password.$viewValue}'>

  <label for="password">Contraseña</label>
  <input password-strength type="password" name="password" ng-model="formData.password" required
    ng-focus='form.password.hasFocus=true', ng-blur='form.password.hasFocus=false'>

  <p ng-show="form.password.$error.required && (form.password.$touched || submitted)"
    class="error-block">
    password is Required!
  </p>
  <div ng-if="form.password.$dirty" ng-messages="form.password.$error">
    <div ng-message="required">Se require la contraseña.</div>
  </div>
</div>

<div class="form-group" ng-class='{
  "has-focus":form.confirmPassword.hasFocus,
  "has-success":form.confirmPassword.$valid,
  "has-error":form.confirmPassword.$invalid && (form.$submitted || form.confirmPassword.$touched),
  "is-empty":!form.confirmPassword.$viewValue}'>

  <label for="confirmPassword">Confirme Password</label>
  <input password-match="formData.password" type="password" name="confirmPassword" ng-model="formData.confirmPassword"
    required ng-focus='form.confirmPassword.hasFocus=true',
    ng-blur='form.confirmPassword.hasFocus=false' />

  <p ng-show="form.confirmPassword.$error.required && (form.confirmPassword.$touched || submitted)"
    class="error-block">
    password is Required!
  </p>
  <div ng-if="form.confirmPassword.$dirty" ng-messages="form.confirmPassword.$error">
      <div ng-message="compareTo">Las contraseña debe coincidir.</div>
  </div>
</div>
<div class="next">
  <a ng-click="goToNextSection(form.$valid)">Next</a>
</div>
