<header class="app-bar promote-layer paper-toolbar paper-shadow">
  <div class="app-bar-container paper-toolbar">
    <button class="menu">=</button>
    <h1 class="logo">Material toolbar</h1>
  </div>
</header><hr><hr>

<section>
  <div class="wrapper">
    <div class="form-wrapper form-new card">
      <div class="status-new">
        <a ui-sref-active="active" ui-sref=".signupOne">
          <span>1</span>
          nombre
        </a>

        <a ui-sref-active="active" ui-sref=".signupTwo">
          <span>2</span>
          email
        </a>

        <a ui-sref-active="active" ui-sref=".signupThree">
          <span>3</span>
          Sobre mi
        </a>
      </div>
      <form method="POST" ng-submit="signup()" name="form" enctype="multipart/form-data">
        <div ui-view></div>
      </form><br>
      <p class="text-center">
        ¿Ya estás registrado?
        <a href="/#/login" class="">Entra desde aquí.</a>
      </p>
    </div>
  </div>
</section>
