<div class="form-group" ng-class='{
  "has-focus":form.name.hasFocus,
  "has-success":form.name.$valid,
  "has-error":form.name.$invalid && (form.$submitted || form.name.$touched),
  "is-empty":!form.name.$viewValue}'>

  <label for="name">Nombre</label>
  <input type="text" name="name" ng-model="formData.name"required
    ng-focus='form.name.hasFocus=true', ng-blur='form.name.hasFocus=false' />
    <p ng-show="form.name.$error.required && (form.name.$touched || submitted)"
      class="error-block">Nombre es Requerido!</p>
</div>

<div class="form-group" ng-class='{
  "has-focus":form.avatar.hasFocus,
  "has-success":form.avatar.$valid,
  "has-error":form.avatar.$invalid && (form.$submitted || form.avatar.$touched),
  "is-empty":!form.avatar.$viewValue}'>

  <label for="avatar">avatar</label>
  <input type="file" file-model="formData.avatar" name="avatar" required
    ng-focus='form.avatar.hasFocus=true', ng-blur='form.avatar.hasFocus=false' />
  <p ng-show="form.avatar.$error.required && (form.avatar.$touched || submitted)"class="error-block">
    avatar es Requerido!
  </p>
</div>
<div class="next">
  <a ng-click="goToNextSection(form.$valid)" class="btn-next">
    Siguiente paso
    <span class="fa fa-arrow-circle-right"></span>
  </a>
</div>
