<div class="form-group" ng-class='{
  "has-focus":form.formData.description.hasFocus,
  "has-success":form.formData.description.$valid,
  "has-error":form.formData.description.$invalid && (form.$submitted || form.formData.description.$touched),
  "is-empty":!form.formData.description.$viewValue}'>

  <label for="description">description</label>
  <textarea name="description" ng-model="formData.description" required
    ng-focus='form.formData.description.hasFocus=true', ng-blur='form.formData.description.hasFocus=false'>
  </textarea>
  <p ng-show="form.formData.description.$error.required && (form.formData.description.$touched || submitted)"
    class="error-block">
    description is Required!
  </p>
</div>
<div class="form-group" ng-class='{
  "has-focus":form.formData.price.hasFocus,
  "has-success":form.formData.price.$valid,
  "has-error":form.formData.price.$invalid && (form.$submitted || form.formData.price.$touched),
  "is-empty":!form.formData.price.$viewValue}'>

  <label for="name">Precio</label>
  <input type="number" name="price" ng-model="formData.price" required
    ng-focus='form.formData.price.hasFocus=true', ng-blur='form.formData.price.hasFocus=false' />

  <p ng-show="form.formData.price.$error.required && (form.formData.price.$touched || submitted)" class="error-block">
    price is Required!
  </p>
</div>
<div class="send">
  <!--<a ng-click="new.newPublish()">Subir</a> -->
  <input type="submit" />
</div>
